{% extends 'base.html' %}

{% block content %}
  <h1>Note: {{ note.title }}</h1>
  <p>{{ note.content }}</p>
  <p>Priority: {{ note.get_priority_display }}</p>
  <p>Created: {{ note.created_date }}</p>
  <p>Author: {{ note.author.username }}</p>
  <a href="{% url 'note_update' note.pk %}" class="btn btn-primary">Edit</a>
  <form method="post" action="{% url 'note_delete' note.pk %}" class="d-inline">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Delete</button>
  </form>
{% endblock %}
